---
    import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Social from "../components/icons/Social.astro";
import LinkedInIcon from '../icons/LinkedIn.astro';
 
---

<Layout title="Design System Diego Garcia" description="El catálogo de componentes de nuestro portfolio">
    <SectionContainer class = "py-44 pb-32 flex flex-col gap-y-10">
        <article class="mb-10">
            <h1 class="mb-4 text-xl font-bold">&lt;Badge /&gt;</h1>
            <Badge>Disponible para trabajar</Badge>
        </article>

        <article class="mb-10 text-xl font-bold">
            <h1 class="mb-4">&lt; Social /&gt;</h1>
            <div class="flex">
                <Social href="https://www.linkedin.com/in/diego-garcia-luque">
                    <LinkedInIcon class="size-4 md:size-6"/>LinkedIn
                </Social>
            </div>
        </article>
    </SectionContainer>


</Layout>